.property-right {
  .property-right-color{
    color: #00eaff;
  }
  .property-right-txcolor{
    color: #34fff8;
  }
  .property-right-banner {
    width: 196px;
    height: 81px;
    background: url("../../../assets/images/border.png") no-repeat;
    .iconfont{
      font-size: 55px;
      color: #00e5ed;
    }
  }
}
