.parking-right{
  .parking-right-color{
    color: #10ebee;
  }
  .parking-right-title{
    background: url("../../../assets/images/title_bg.png")no-repeat;
    background-position: bottom;
    background-size: 100%;
  }
}
