.property-left{
  .left-index-icon{
    width: 110px;
    height: 97px;
    background: url("../../../assets/images/icon-bg.png") no-repeat;
    line-height: 97px;
    .iconfont{
      font-size: 32px;
      color: #00f0ff;
    }
  }
}
